#main{
  
}

#first{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#first > div {
    width: 50px;
    height: 50px;
}

#second{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#second > div {
    border: 3px solid black;
    width: 50px;
    height: 50px;
}

#third{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#third > div {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.a {
    background-color:peru
}
.b {
    background-color: antiquewhite;
}
.c {
    background-color:cornflowerblue
}
.d {
    background-color:darkslategrey
}
.e {
    background-color: darkolivegreen;
}

